# Proyecto 1 Analítica Computacional
## Tarea 2: Selección, limpieza y alistamiento de datos

### Filtración y exploración de datos para la primera pregunta

In [1]:
import numpy as np
import pandas as pd

In [45]:
df = pd.read_csv("DatosCundinamarca.csv")
df.head()

,PERIODO,COLE_AREA_UBICACION,COLE_BILINGUE,COLE_GENERO,COLE_JORNADA,ESTU_FECHANACIMIENTO,ESTU_GENERO,ESTU_PAIS_RESIDE,ESTU_PRIVADO_LIBERTAD,FAMI_CUARTOSHOGAR,...,FAMI_TIENECOMPUTADOR,FAMI_TIENEINTERNET,FAMI_TIENELAVADORA,DESEMP_INGLES,PUNT_INGLES,PUNT_MATEMATICAS,PUNT_SOCIALES_CIUDADANAS,PUNT_C_NATURALES,PUNT_LECTURA_CRITICA,PUNT_GLOBAL
0,20224,URBANO,N,MIXTO,UNICA,03/09/2004,F,COLOMBIA,N,Dos,...,No,No,No,A-,42.0,26.0,45.0,42.0,43.0,196.0
1,20224,URBANO,N,MIXTO,SABATINA,10/02/2005,M,COLOMBIA,N,Tres,...,Si,Si,Si,A-,40.0,60.0,46.0,54.0,50.0,258.0
2,20224,URBANO,NaN,MIXTO,COMPLETA,27/12/2004,M,COLOMBIA,N,NaN,...,NaN,Si,NaN,A1,54.0,61.0,58.0,55.0,55.0,285.0
3,20224,URBANO,N,MIXTO,COMPLETA,25/06/2006,F,COLOMBIA,N,Tres,...,Si,Si,Si,A2,62.0,54.0,64.0,63.0,60.0,302.0
4,20224,RURAL,N,MIXTO,SABATINA,18/05/2006,M,COLOMBIA,N,Dos,...,No,Si,Si,A1,54.0,45.0,46.0,48.0,52.0,241.0

In [5]:
df.isna().sum()

PERIODO                               0
ESTU_TIPODOCUMENTO                    0
ESTU_CONSECUTIVO                      0
COLE_AREA_UBICACION                 198
COLE_BILINGUE                     77355
COLE_CALENDARIO                       0
COLE_CARACTER                     14721
COLE_COD_DANE_ESTABLECIMIENTO       198
COLE_COD_DANE_SEDE                    0
COLE_COD_DEPTO_UBICACION              0
COLE_COD_MCPIO_UBICACION              0
COLE_CODIGO_ICFES                  1778
COLE_DEPTO_UBICACION                  0
COLE_GENERO                           0
COLE_JORNADA                          0
COLE_MCPIO_UBICACION                  0
COLE_NATURALEZA                       0
COLE_NOMBRE_ESTABLECIMIENTO           0
COLE_NOMBRE_SEDE                      0
COLE_SEDE_PRINCIPAL                   0
ESTU_COD_DEPTO_PRESENTACION          10
ESTU_COD_MCPIO_PRESENTACION          10
ESTU_COD_RESIDE_DEPTO              2733
ESTU_COD_RESIDE_MCPIO              2733
ESTU_DEPTO_PRESENTACION              10
ESTU_DEPTO_RESIDE                  2733
ESTU_ESTADOINVESTIGACION              0
ESTU_ESTUDIANTE                       0
ESTU_FECHANACIMIENTO                  0
ESTU_GENERO                         265
ESTU_MCPIO_PRESENTACION              10
ESTU_MCPIO_RESIDE                  2733
ESTU_NACIONALIDAD                     0
ESTU_PAIS_RESIDE                      0
ESTU_PRIVADO_LIBERTAD                 0
FAMI_CUARTOSHOGAR                  6558
FAMI_EDUCACIONMADRE               10699
FAMI_EDUCACIONPADRE               10753
FAMI_ESTRATOVIVIENDA              11609
FAMI_PERSONASHOGAR                 6620
FAMI_TIENEAUTOMOVIL                6736
FAMI_TIENECOMPUTADOR               7473
FAMI_TIENEINTERNET                 9766
FAMI_TIENELAVADORA                 6420
DESEMP_INGLES                        71
PUNT_INGLES                          28
PUNT_MATEMATICAS                      0
PUNT_SOCIALES_CIUDADANAS         171841
PUNT_C_NATURALES                 171841
PUNT_LECTURA_CRITICA             171841
PUNT_GLOBAL                      171841
dtype: int64

In [6]:
df.notna().sum(axis=0)/df.shape[0]*100

PERIODO                          100.000000
ESTU_TIPODOCUMENTO               100.000000
ESTU_CONSECUTIVO                 100.000000
COLE_AREA_UBICACION               99.957946
COLE_BILINGUE                     83.570084
COLE_CALENDARIO                  100.000000
COLE_CARACTER                     96.873314
COLE_COD_DANE_ESTABLECIMIENTO     99.957946
COLE_COD_DANE_SEDE               100.000000
COLE_COD_DEPTO_UBICACION         100.000000
COLE_COD_MCPIO_UBICACION         100.000000
COLE_CODIGO_ICFES                 99.622359
COLE_DEPTO_UBICACION             100.000000
COLE_GENERO                      100.000000
COLE_JORNADA                     100.000000
COLE_MCPIO_UBICACION             100.000000
COLE_NATURALEZA                  100.000000
COLE_NOMBRE_ESTABLECIMIENTO      100.000000
COLE_NOMBRE_SEDE                 100.000000
COLE_SEDE_PRINCIPAL              100.000000
ESTU_COD_DEPTO_PRESENTACION       99.997876
ESTU_COD_MCPIO_PRESENTACION       99.997876
ESTU_COD_RESIDE_DEPTO             99.419521
ESTU_COD_RESIDE_MCPIO             99.419521
ESTU_DEPTO_PRESENTACION           99.997876
ESTU_DEPTO_RESIDE                 99.419521
ESTU_ESTADOINVESTIGACION         100.000000
ESTU_ESTUDIANTE                  100.000000
ESTU_FECHANACIMIENTO             100.000000
ESTU_GENERO                       99.943715
ESTU_MCPIO_PRESENTACION           99.997876
ESTU_MCPIO_RESIDE                 99.419521
ESTU_NACIONALIDAD                100.000000
ESTU_PAIS_RESIDE                 100.000000
ESTU_PRIVADO_LIBERTAD            100.000000
FAMI_CUARTOSHOGAR                 98.607105
FAMI_EDUCACIONMADRE               97.727572
FAMI_EDUCACIONPADRE               97.716103
FAMI_ESTRATOVIVIENDA              97.534291
FAMI_PERSONASHOGAR                98.593937
FAMI_TIENEAUTOMOVIL               98.569299
FAMI_TIENECOMPUTADOR              98.412762
FAMI_TIENEINTERNET                97.925738
FAMI_TIENELAVADORA                98.636416
DESEMP_INGLES                     99.984920
PUNT_INGLES                       99.994053
PUNT_MATEMATICAS                 100.000000
PUNT_SOCIALES_CIUDADANAS          63.501608
PUNT_C_NATURALES                  63.501608
PUNT_LECTURA_CRITICA              63.501608
PUNT_GLOBAL                       63.501608
dtype: float64

In [ ]:
df_p1 = df[["FAMI_EDUCACIONMADRE", "FAMI_EDUCACIONPADRE", "PUNT_LECTURA_CRITICA", "PUNT_MATEMATICAS","FAMI_ESTRATOVIVIENDA"]]
#df_p1.isna().sum()
df_p1.notna().sum(axis=0)/df.shape[0]*100

FAMI_EDUCACIONMADRE      97.727572
FAMI_EDUCACIONPADRE      97.716103
PUNT_LECTURA_CRITICA     63.501608
PUNT_MATEMATICAS        100.000000
FAMI_ESTRATOVIVIENDA     97.534291
dtype: float64

In [35]:
# Reasignamos el resultado a la misma variable
df_p1 = df_p1.fillna({'FAMI_EDUCACIONMADRE':'No Registra', 'FAMI_EDUCACIONPADRE':'No Registra', 'FAMI_ESTRATOVIVIENDA':'No Registra'})

# Ahora, al hacer el dropna sobre Lectura Crítica, las otras ya estarán limpias
df_p1_limpio = df_p1.dropna(subset=['PUNT_LECTURA_CRITICA'])

df_p1_limpio

,FAMI_EDUCACIONMADRE,FAMI_EDUCACIONPADRE,PUNT_LECTURA_CRITICA,PUNT_MATEMATICAS,FAMI_ESTRATOVIVIENDA
0,Educación profesional completa,Técnica o tecnológica completa,53.0,55.0,Estrato 3
1,Primaria completa,Primaria incompleta,50.0,47.0,Estrato 1
6,Secundaria (Bachillerato) completa,Primaria incompleta,51.0,41.0,Estrato 1
7,No Registra,No Registra,43.0,38.0,No Registra
8,Secundaria (Bachillerato) completa,Secundaria (Bachillerato) completa,51.0,50.0,Estrato 3
...,...,...,...,...,...
470813,Postgrado,Postgrado,75.0,72.0,Estrato 4
470814,Educación profesional completa,Educación profesional completa,74.0,73.0,Estrato 5
470815,Primaria incompleta,Secundaria (Bachillerato) completa,51.0,36.0,Estrato 3
470816,Educación profesional completa,Educación profesional completa,55.0,52.0,Estrato 4
470817,Educación profesional completa,Educación profesional completa,64.0,61.0,Estrato 5

In [42]:
df.head()

,PERIODO,ESTU_TIPODOCUMENTO,ESTU_CONSECUTIVO,COLE_AREA_UBICACION,COLE_BILINGUE,COLE_CALENDARIO,COLE_CARACTER,COLE_COD_DANE_ESTABLECIMIENTO,COLE_COD_DANE_SEDE,COLE_COD_DEPTO_UBICACION,...,FAMI_TIENECOMPUTADOR,FAMI_TIENEINTERNET,FAMI_TIENELAVADORA,DESEMP_INGLES,PUNT_INGLES,PUNT_MATEMATICAS,PUNT_SOCIALES_CIUDADANAS,PUNT_C_NATURALES,PUNT_LECTURA_CRITICA,PUNT_GLOBAL
0,20162,TI,SB11201620012115,URBANO,NaN,A,ACADÉMICO,3.251750e+11,325175032564,25,...,Si,Si,Si,A2,61.00,55.00,50.0,59.0,53.0,274.0
1,20152,CC,SB11201520517964,URBANO,N,A,ACADÉMICO,1.255720e+11,125572000114,25,...,No,Si,Si,A1,53.00,47.00,53.0,45.0,50.0,245.0
2,20102,TI,SB11201020464578,URBANO,N,A,TÉCNICO/ACADÉMICO,1.257850e+11,125785000100,25,...,No,No,Si,A1,49.66,45.38,NaN,NaN,NaN,NaN
3,20102,TI,SB11201020550626,URBANO,N,A,TÉCNICO/ACADÉMICO,1.255240e+11,125524000013,25,...,No,No,No,A-,44.51,55.62,NaN,NaN,NaN,NaN
4,20102,TI,SB11201020550626,URBANO,N,A,TÉCNICO/ACADÉMICO,1.255240e+11,125524000013,25,...,No,No,No,A-,44.51,55.62,NaN,NaN,NaN,NaN

In [44]:
df['COLE_DEPTO_UBICACION'].value_counts()

COLE_DEPTO_UBICACION
CUNDINAMARCA    470818
Name: count, dtype: int64