# Proyecto 1 Analítica Computacional
## Tarea 2: Selección, limpieza y alistamiento de datos

### Filtración y exploración de datos para la primera pregunta

In [116]:
import numpy as np
import pandas as pd 
import matplotlib as plt

In [117]:
df = pd.read_csv("Datos_Cundinamarca.csv")
df.head()

,PERIODO,COLE_AREA_UBICACION,COLE_BILINGUE,COLE_GENERO,COLE_JORNADA,COLE_MCPIO_UBICACION,ESTU_FECHANACIMIENTO,ESTU_GENERO,ESTU_PAIS_RESIDE,FAMI_CUARTOSHOGAR,...,FAMI_TIENECOMPUTADOR,FAMI_TIENEINTERNET,FAMI_TIENELAVADORA,DESEMP_INGLES,PUNT_INGLES,PUNT_MATEMATICAS,PUNT_SOCIALES_CIUDADANAS,PUNT_C_NATURALES,PUNT_LECTURA_CRITICA,PUNT_GLOBAL
0,20224,URBANO,N,MIXTO,UNICA,GRANADA,03/09/2004,F,COLOMBIA,Dos,...,No,No,No,A-,42.0,26.0,45.0,42.0,43.0,196.0
1,20224,URBANO,N,MIXTO,SABATINA,CHOACHÍ,10/02/2005,M,COLOMBIA,Tres,...,Si,Si,Si,A-,40.0,60.0,46.0,54.0,50.0,258.0
2,20224,URBANO,NaN,MIXTO,COMPLETA,SOACHA,27/12/2004,M,COLOMBIA,NaN,...,NaN,Si,NaN,A1,54.0,61.0,58.0,55.0,55.0,285.0
3,20224,URBANO,N,MIXTO,COMPLETA,SOACHA,25/06/2006,F,COLOMBIA,Tres,...,Si,Si,Si,A2,62.0,54.0,64.0,63.0,60.0,302.0
4,20224,RURAL,N,MIXTO,SABATINA,SASAIMA,18/05/2006,M,COLOMBIA,Dos,...,No,Si,Si,A1,54.0,45.0,46.0,48.0,52.0,241.0

In [118]:
lista = [df.columns]
lista

[Index(['PERIODO', 'COLE_AREA_UBICACION', 'COLE_BILINGUE', 'COLE_GENERO',
        'COLE_JORNADA', 'COLE_MCPIO_UBICACION', 'ESTU_FECHANACIMIENTO',
        'ESTU_GENERO', 'ESTU_PAIS_RESIDE', 'FAMI_CUARTOSHOGAR',
        'FAMI_EDUCACIONMADRE', 'FAMI_EDUCACIONPADRE', 'FAMI_ESTRATOVIVIENDA',
        'FAMI_PERSONASHOGAR', 'FAMI_TIENEAUTOMOVIL', 'FAMI_TIENECOMPUTADOR',
        'FAMI_TIENEINTERNET', 'FAMI_TIENELAVADORA', 'DESEMP_INGLES',
        'PUNT_INGLES', 'PUNT_MATEMATICAS', 'PUNT_SOCIALES_CIUDADANAS',
        'PUNT_C_NATURALES', 'PUNT_LECTURA_CRITICA', 'PUNT_GLOBAL'],
       dtype='object')]

In [119]:
df.isna().sum()

PERIODO                          0
COLE_AREA_UBICACION            198
COLE_BILINGUE                77355
COLE_GENERO                      0
COLE_JORNADA                     0
COLE_MCPIO_UBICACION             0
ESTU_FECHANACIMIENTO             0
ESTU_GENERO                    265
ESTU_PAIS_RESIDE                 0
FAMI_CUARTOSHOGAR             6558
FAMI_EDUCACIONMADRE          10699
FAMI_EDUCACIONPADRE          10753
FAMI_ESTRATOVIVIENDA         11609
FAMI_PERSONASHOGAR            6620
FAMI_TIENEAUTOMOVIL           6736
FAMI_TIENECOMPUTADOR          7473
FAMI_TIENEINTERNET            9766
FAMI_TIENELAVADORA            6420
DESEMP_INGLES                   71
PUNT_INGLES                     28
PUNT_MATEMATICAS                 0
PUNT_SOCIALES_CIUDADANAS    171841
PUNT_C_NATURALES            171841
PUNT_LECTURA_CRITICA        171841
PUNT_GLOBAL                 171841
dtype: int64

In [120]:
df.notna().sum(axis=0)/df.shape[0]*100

PERIODO                     100.000000
COLE_AREA_UBICACION          99.957946
COLE_BILINGUE                83.570084
COLE_GENERO                 100.000000
COLE_JORNADA                100.000000
COLE_MCPIO_UBICACION        100.000000
ESTU_FECHANACIMIENTO        100.000000
ESTU_GENERO                  99.943715
ESTU_PAIS_RESIDE            100.000000
FAMI_CUARTOSHOGAR            98.607105
FAMI_EDUCACIONMADRE          97.727572
FAMI_EDUCACIONPADRE          97.716103
FAMI_ESTRATOVIVIENDA         97.534291
FAMI_PERSONASHOGAR           98.593937
FAMI_TIENEAUTOMOVIL          98.569299
FAMI_TIENECOMPUTADOR         98.412762
FAMI_TIENEINTERNET           97.925738
FAMI_TIENELAVADORA           98.636416
DESEMP_INGLES                99.984920
PUNT_INGLES                  99.994053
PUNT_MATEMATICAS            100.000000
PUNT_SOCIALES_CIUDADANAS     63.501608
PUNT_C_NATURALES             63.501608
PUNT_LECTURA_CRITICA         63.501608
PUNT_GLOBAL                  63.501608
dtype: float64

In [121]:
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
470813    False
470814    False
470815    False
470816     True
470817    False
Length: 470818, dtype: bool

In [122]:
df.shape

(470818, 25)

In [123]:
df.drop_duplicates().shape

(377676, 25)

## Limpieza p1

In [124]:
df_p1 = df[["FAMI_EDUCACIONMADRE", "FAMI_EDUCACIONPADRE", "PUNT_LECTURA_CRITICA", "PUNT_MATEMATICAS","FAMI_ESTRATOVIVIENDA"]]
#df_p1.isna().sum()
df_p1.notna().sum(axis=0)/df.shape[0]*100

FAMI_EDUCACIONMADRE      97.727572
FAMI_EDUCACIONPADRE      97.716103
PUNT_LECTURA_CRITICA     63.501608
PUNT_MATEMATICAS        100.000000
FAMI_ESTRATOVIVIENDA     97.534291
dtype: float64

### Educación de los Padres

In [125]:
df = df.fillna({'FAMI_EDUCACIONMADRE':0, 'FAMI_EDUCACIONPADRE':0})

In [126]:
df.isna().sum()
df.notna().sum(axis=0)/df.shape[0]*100

PERIODO                     100.000000
COLE_AREA_UBICACION          99.957946
COLE_BILINGUE                83.570084
COLE_GENERO                 100.000000
COLE_JORNADA                100.000000
COLE_MCPIO_UBICACION        100.000000
ESTU_FECHANACIMIENTO        100.000000
ESTU_GENERO                  99.943715
ESTU_PAIS_RESIDE            100.000000
FAMI_CUARTOSHOGAR            98.607105
FAMI_EDUCACIONMADRE         100.000000
FAMI_EDUCACIONPADRE         100.000000
FAMI_ESTRATOVIVIENDA         97.534291
FAMI_PERSONASHOGAR           98.593937
FAMI_TIENEAUTOMOVIL          98.569299
FAMI_TIENECOMPUTADOR         98.412762
FAMI_TIENEINTERNET           97.925738
FAMI_TIENELAVADORA           98.636416
DESEMP_INGLES                99.984920
PUNT_INGLES                  99.994053
PUNT_MATEMATICAS            100.000000
PUNT_SOCIALES_CIUDADANAS     63.501608
PUNT_C_NATURALES             63.501608
PUNT_LECTURA_CRITICA         63.501608
PUNT_GLOBAL                  63.501608
dtype: float64

In [133]:
df['FAMI_EDUCACIONMADRE'] = df['FAMI_EDUCACIONMADRE'].replace({
    'Ninguno': 1,
    'Primaria incompleta': 2,
    'Primaria completa': 3,
    'Secundaria (Bachillerato) incompleta': 4,
    'Secundaria (Bachillerato) completa': 5,
    'Técnica o tecnológica incompleta': 6,
    'Técnica o tecnológica completa': 7,
    'Educación profesional incompleta': 8,
    'Educación profesional completa': 9,
    'Postgrado': 10,
    'No sabe': 'No Registra',
    'No Aplica': 'No Registra',
    'No Registra': 0
})

/var/folders/20/k_nwfbln0fsb18fc01zwwkl80000gn/T/ipykernel_82547/3196570882.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['FAMI_EDUCACIONMADRE'] = df['FAMI_EDUCACIONMADRE'].replace({

In [134]:
df['FAMI_EDUCACIONMADRE'].value_counts()

FAMI_EDUCACIONMADRE
5     116790
4      74595
3      74349
2      68157
9      44640
7      33669
0      19581
10     11649
6      10914
8       9904
1       6570
Name: count, dtype: int64

In [135]:
df['FAMI_EDUCACIONPADRE'] = df['FAMI_EDUCACIONPADRE'].replace({
    'Ninguno': 1,
    'Primaria incompleta': 2,
    'Primaria completa': 3,
    'Secundaria (Bachillerato) incompleta': 4,
    'Secundaria (Bachillerato) completa': 5,
    'Técnica o tecnológica incompleta': 6,
    'Técnica o tecnológica completa': 7,
    'Educación profesional incompleta': 8,
    'Educación profesional completa': 9,
    'Postgrado': 10,
    'No sabe': 'No Registra',
    'No Aplica': 'No Registra',
    'No Registra': 0
    })

/var/folders/20/k_nwfbln0fsb18fc01zwwkl80000gn/T/ipykernel_82547/251283072.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['FAMI_EDUCACIONPADRE'] = df['FAMI_EDUCACIONPADRE'].replace({

In [136]:
df['FAMI_EDUCACIONPADRE'].value_counts()

FAMI_EDUCACIONPADRE
5     98965
2     87281
3     77565
4     65956
0     38569
9     38238
7     23365
1     14107
10    10495
8      8216
6      8061
Name: count, dtype: int64

In [137]:
df.to_csv("df_limpio.csv", index=False)

In [138]:
df['FAMI_EDU_PADRES_SUM'] = (
    df['FAMI_EDUCACIONMADRE'] +
    df['FAMI_EDUCACIONPADRE']
)

In [139]:
df['FAMI_EDU_PADRES_SUM'].value_counts()

FAMI_EDU_PADRES_SUM
6     57924
10    57288
8     48634
4     47293
7     38307
9     36557
5     36148
14    22106
18    20993
12    19324
0     16103
11    12387
13    10165
16     9995
3      8415
2      6845
19     5748
17     5685
15     5445
20     5137
1       319
Name: count, dtype: int64

### Puntajes en pruebas

In [140]:
df['PUNT_LECTURA_CRITICA'].value_counts()

PUNT_LECTURA_CRITICA
54.0    12947
51.0    12037
57.0    11857
50.0    11597
55.0    11398
        ...
16.0        5
88.0        5
86.0        5
7.0         1
96.0        1
Name: count, Length: 78, dtype: int64

In [141]:
df['PUNT_MATEMATICAS'].value_counts()

PUNT_MATEMATICAS
49.00     20588
52.00     19881
55.00     17231
46.00     15788
45.00     15114
          ...
127.00        1
8.00          1
8.57          1
103.94        1
93.80         1
Name: count, Length: 281, dtype: int64

In [142]:
df['PUNT_GLOBAL'].value_counts()

PUNT_GLOBAL
248.0    2845
260.0    2843
257.0    2788
258.0    2761
255.0    2738
         ...
483.0       1
126.0       1
35.0        1
442.0       1
429.0       1
Name: count, Length: 364, dtype: int64

## Limpieza p2

In [144]:
cols_numericas = [
    "PUNT_GLOBAL","PUNT_MATEMATICAS","PUNT_LECTURA_CRITICA",
    "PUNT_C_NATURALES","PUNT_SOCIALES_CIUDADANAS","PUNT_INGLES",
    "FAMI_PERSONASHOGAR","FAMI_CUARTOSHOGAR"
]

for col in cols_numericas:
    df[col] = pd.to_numeric(df[col], errors="coerce")

In [145]:
#verificando las variables categoricas
df["FAMI_TIENEINTERNET"] = df["FAMI_TIENEINTERNET"].str.strip().str.upper()
df["FAMI_TIENECOMPUTADOR"] = df["FAMI_TIENECOMPUTADOR"].str.strip().str.upper()

#nueva columna de hacimiento (#personas en el hogar / #cuartos)
df["PERSONAS_POR_CUARTO"] = df["FAMI_PERSONASHOGAR"] / df["FAMI_CUARTOSHOGAR"]

## FINALIZACIÓN

In [146]:
df.to_csv("df_limpio.csv", index=False)